body {
    margin: 0;
    font-family: cursive;
    font-weight: 200;
    font-size: 1rem;
    background-color: cadetblue;
    cursor: pointer;
}

.title {
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: calc(7vw + 2rem);
    font-weight: 300;
    margin: -22px;
}

.projects {
    /* border: 1px solid green; */
    width: fit-content;
    margin-block-start: 1em;
    margin-left: 3rem;
}

.projects-title {
    background-color: rgb(72, 75, 75);
    height: 2em;
    /* color: white; */
}

.projects-lists li {
    margin: 11px;
    left: -22px;
}

.task {
    margin: 11px;
}

#remove-project {
    padding: 8px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 4px;
    text-transform: capitalize;
}

#remove-project:hover {
    color: white;
    background-color: red;
}

.to-do {
    border: 1px solid green;
    width: fit-content;
    margin-left: 22rem;
    margin-block-start: -13em;
}

.delete-tasks button {
    padding: 8px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 4px;
    text-transform: capitalize;
}

.delete-tasks button:hover {
    color: white;
    background-color: red;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: rgb(72, 75, 75);
}

.remaining {
    /* margin-left: 55px; */
    font-size: 1em;
    margin-block-start: 1em;
    margin-inline-start: 16em;
}

.tasks {}

.new-project {}